@font-face {
	font-family: 'Jura';
	src: url('Jura-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: 'Jura';
	src: url('Jura-Light.ttf');
	font-weight: 300;
}
@font-face {
	font-family: 'Jura';
	src: url('Jura-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: 'Jura';
	src: url('Jura-Regular.ttf');
	font-weight: 400;
}
@font-face {
	font-family: 'Jura';
	src: url('Jura-SemiBold.ttf');
	font-weight: 900;
}