@import "../fonts/HelveticaNeue/stylesheet.css";
@import "../fonts/SFPro/stylesheet.css";
@import "../fonts/Plumb/stylesheet.css";
@import "../fonts/Jura/stylesheet.css";
@import "../fonts/Inter/stylesheet.css";
@import "slick.css";
@import "tools.css";
@import "fancy.css";
@import "vars.css";
@import "btns.css";
@import "text.css";
@import "links.css";
@import "select.css";
@import "forms.css";
@import "auth.css";
@import "header.css";
@import "menu.css";
@import "sidebar.css";
@import "site.css";
@import "footer.css";
@import "profile.css";
@import "orders.css";
@import "popup_order.css";
@import "wallet.css";
@import "popup_transfer.css";
@import "shop.css";
@import "catalog.css";
@import "product.css";
@import "product_card.css";
@import "popup_product.css";
@import "cart.css";
@import "promo.css";
@import "status_mini.css";
@import "present.css";
@import "trevel_bonus.css";
@import "popup_info.css";
@import "news.css";
@import "materials.css";
@import "video.css";
@import "education.css";
@import "webinar.css";
@import "banner_business.css";
@import "partner_set.css";
@import "social.css";
@import "polygraph.css";
@import "merchandise.css";
@import "top_block.css";
@import "documents.css";
@import "support.css";
@import "notidications.css";
@import "main_page.css";
@import "status.css";
@import "max_qual.css";
@import "time_period.css";
@import "business_package.css";
@import "main_bonuses.css";
@import "bonus_fast_start.css";
@import "qualifications.css";
@import "career_main_bonus.css";
@import "career.css";
@import "popup_qualifications.css";
@import "sponsor.css";
@import "team.css";
@import "popup_team.css";


body {
    position: relative;
    background: #EAEDF3;
}
* {
    text-decoration: none;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}